/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Fonts and spacing */
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
}

p {
  margin: 1rem 0;
}

/* Links */
a {
  color: blue;
  text-decoration: none;
  font-size: 1 rem;
  /* font-weight: bold; */
  transition: transform 0.2s ease-in-out;
  /* text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff; */
  }
  
  a:hover {
  text-decoration: underline;
  /* color: #ffffff; */
  /* background-color: #ff69b4; */
  transform: scale(1.1);
  /* border-radius: 10px; */
  /* box-shadow: 2px 2px 0 #ffffff, -2px -2px 0 #ffffff; */
  }

/* Images */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1rem 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
